
.btn {
    font-size: 17px;
    font-family: 'trebuchet_msbold';
    position: relative;
    border-radius: 25px;
    border: 3px solid #bde87d
}

.btn:link, .btn:visited {
    color: #004b01;
    text-decoration: none;
    outline: none
}

.btn:hover, .btn:active, .btn:focus {
    outline: none
}

.btn_box-shadow:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 66%;
    bottom: -2px;
    right: 17%;
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, #396c03), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-radial-gradient(center, ellipse cover, #396c03 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-radial-gradient(center, ellipse, #396c03 0%, rgba(0, 0, 0, 0) 100%);
    background: radial-gradient(ellipse at center, #396c03 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0 1px 15px 0 #353535;
    -webkit-box-shadow: 0 1px 15px 0 #353535
}

.btn_green {
    background: #fff;
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, #fff), color-stop(100%, #eef5d4));
    background: -webkit-radial-gradient(center, ellipse cover, #fff 0%, #eef5d4 100%);
    background: -webkit-radial-gradient(center, ellipse, #fff 0%, #eef5d4 100%);
    background: radial-gradient(ellipse at center, #fff 0%, #eef5d4 100%);
    filter: progid:DXImageTransform.Microsoft.Alpha(GradientType=1, StartColorstr=#fff, EndColorstr=#eef5d4);
    box-shadow: inset 0 -12px 3px 5px #cfde9b;
    -webkit-box-shadow: inset 0 -12px 3px 5px #cfde9b
}

.btn_green:hover {
    -webkit-box-shadow: inset 0 -12px 9px 5px #bcca8e;
    box-shadow: inset 0 -12px 9px 5px #bcca8e
}

.btn_green:focus {
    outline: none
}

.btn_in-shadow {
    display: block;
    box-shadow: 0 2px 3px 0 #000;
    -webkit-box-shadow: 0 2px 3px 0 #000;
    border-radius: 25px;
    color: #000;
    font-weight: lighter;
}

.btn_white {
    background-color: #fffeff;
    font-size: 14px;
    font-weight: 800
}

.btn_white .btn_in-shadow {
    padding: 2px 13px
}

.btn_white:hover {
    -webkit-box-shadow: inset 0 -12px 9px 5px #ecf4e1;
    box-shadow: inset 0 -12px 9px 5px #ecf4e1
}

.btn_font {
    font-size: 15px;
    font-weight: 700
}

.btn_font .btn_in-shadow {
    padding: 6px 16px
}

.btn_font:link, .btn_font:visited {
    color: #000;
    text-decoration: none;
    outline: none
}