.color-choice {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    z-index: 0;
    margin-top: -45px;

}

.color-choice, .color-choice__item {
    transition: .1s ease .1s;
    -webkit-transition: .1s ease .1s;
    -o-transition: .1s ease .1s;
    -moz-transition: .1s ease .1s
}

.color-choice__item {
    width: 30px;
    padding-right: 4px;
    border-radius: 50% 0 0 50%
}

.color-choice__item:hover, .color-choice__item:active, .color-choice__item:focus {
    background-color: #dcdde2
}

.color-choice__item_active {
    background-color: #dcdde2
}

.color-choice__link {
    font-size: 23px;
    line-height: 30px;
    display: block
}

.color-choice__link_color-1, .color-choice__link_color-1:visited, .color-choice__link_color-1:focus {
    color: #fca61b;
    outline: none
}

.color-choice__link_color-2, .color-choice__link_color-2:visited, .color-choice__link_color-2:focus {
    color: #d04298;
    outline: none
}

.color-choice__link_color-3, .color-choice__link_color-3:visited, .color-choice__link_color-3:focus {
    color: #2fa0cc;
    outline: none
}

.color-choice__link_color-4, .color-choice__link_color-4:visited, .color-choice__link_color-4:focus {
    color: #5eb15f;
    outline: none
}


.color-badges-box {

}

.color-badge-group {
    margin: 15px 0 26px;
    opacity: 0.5;
}

.color-badge-group__el {
    display: inline-block;
    margin: 0 0 5px;
}

.color-badge-group_active {
    position: relative;
    padding: 10px 7px 1px;
    background: -webkit-linear-gradient(top, #fcfcf6 0%, #e6e5df 100%);
    background: linear-gradient(to bottom, #fcfcf6 0%, #e6e5df 100%);
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px 0 #E7E7E7;
    box-shadow: 0 1px 1px 0 #E7E7E7;
    opacity: 1;
}

.color-badge-group_active:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 3%;
    width: 94%;
    height: 20px;
    background: transparent url('../img/shadows/shadow-bottom.png') 0 0 no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.color-badge-group_active:before {
    content: '';
    position: absolute;
    top: 7px;
    left: -53px;
    width: 48px;
    height: 48px;
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAn0lEQVRo3u2WSwqAMBDF6nkEbyO68DAuPLaiFRRExr/QeZDArJuAthMCAAAAgEWhLN/EGeK0yvLjMq2y/Dx9nFxZvkQeeeSRRz6pfPbTXpJMvlsOrlXl1wPfRiT75gvj4KcRyX/Y+kOEm9vmTYS7q/JJhNt7/k6E+0fqLELmhbUirHG9HlxFSOw2RxEyi5kVISW/j5CU30ZUAQAAAECLCXKxtO0/R+VzAAAAAElFTkSuQmCC') 0 0 no-repeat;
    opacity: 0.7;
}

.color-badge {

}
