.head {
    width: 900px;
    margin: 0 auto 31px
}

.head__theme {
    height: 6px;
    background: url("../img/texture/head-back.jpg") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}
.head__etsy-link{
    display: inline-block;
    margin: 0 10px 0 0;
}
.head__theme_mb_32 {
    margin-bottom: 32px
}

.head__left {
    vertical-align: top;
    width: 18%
}

.head__logo {
    width: 120px
}

.head__quality {
    margin: 0 0 0 67px
}

.head__quality h1 {
    padding: 0;
    margin: 0;
    font-size: 13px
}

.head__quality-link {
    text-decoration: none;
    font-family: 'GrossKunst';
    line-height: 1.3;
    padding: 0;
    border-bottom: 1px solid #deead2
}

.head__quality-link:link, .head__quality-link:visited {
    color: #5f6062
}

.head__quality-link:hover, .head__quality-link:active {
    opacity: .8
}

.head__right {
    vertical-align: top;
    width: 79%
}

.head__top {
    margin: 0 0 21px;
    font-family: 'trebuchet_msbold'
}

.head__navi-list {
    margin: 0 0 10px 28px
}

.head__social-list {
    margin: 0 0 0 30px
}

.head__cart {
    vertical-align: top;
    margin: 0 0 0 13px
}

.head__cart-circle {
    display: none;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e2221d;
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 11px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    line-height: 1.9;
}
.head__cart-circle:after{
    display: inline-block;
    content: '';
    height: 100%;
    vertical-align: middle;

}
.cart-num{
    vertical-align: middle;
    display: inline-block;
}

.head__cart-link {
    text-decoration: none;
    border-bottom: 1px solid #deead2
}

.head__cart-link:link, .head__cart-link:visited {
    color: #006902
}

.head__cart-link:hover, .head__cart-link:active {
    opacity: .8
}

.head__free {
    vertical-align: top;
    margin: 0 0 0 48px
}

.head__shipping-link {
    text-decoration: none;
    border-bottom: 1px solid #deead2;
    font-size: 12px
}

.head__shipping-link:link, .head__shipping-link:visited {
    color: #006902
}

.head__shipping-link:hover, .head__shipping-link:active {
    opacity: .8
}

.head__and {
    color: #006902;
    font-family: 'trebuchet_msregular'
}

.head__my {
    vertical-align: top
}

.head__my-link {
    font-size: 12px
}

.head__my-link u:after {
    bottom: -1px
}

.head__my-link:link, .head__my-link:visited {
    color: #006902
}

.head__my-link:hover, .head__my-link:active {
    color: #e12519
}

.head__my-link:hover u:after, .head__my-link:active u:after {
    bottom: -1px
}