.icon {
    display: inline-block;
}

.icon-fb {
    background: url("../img/icon/facebook.svg") no-repeat top center
}

.icon-fb, .icon-instagram {
    vertical-align: top;
    height: 20px;
    width: 9px;
    padding-right: 11px;
}

.icon-instagram {
    padding-right: 11px;
    background: url("../img/icon/instagram.svg") no-repeat top center
}

.icon-pinterest {
    padding-left: 1px;
    background: url("../img/icon/pinterest.svg") no-repeat top center
}

.icon-pinterest, .icon-etsy {
    vertical-align: top;
    height: 20px;
    width: 16px
}

.icon-etsy {
    background: url("../img/icon/etsy-16x16.svg") no-repeat top center
}

.instagram-icon {
    vertical-align: middle;
    background: url("../img/icon/instagram.svg") no-repeat;
    background-size: 100% auto;
    height: 19px;
    width: 19px
}

.instagram-icon:hover {
    opacity: .8
}

.icon-pink {
    position: relative
}

.icon-pink:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #d04298;
    border-radius: 50%;
    top: 2px;
    left: -17px
}

.icon-green {
    position: relative
}

.icon-green:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #61a93b;
    border-radius: 50%;
    top: 2px;
    left: -17px
}

.icon-white {
    position: relative
}

.icon-white:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: -17px
}

.icon-handwash {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAgCAQAAAD+3TOXAAABqElEQVR4Ac2TAY3lIBiEPwlIqAQkIKESKqES6qASKqESkIAEJCCBa/68TF7guBeSfdmbye4m3cL/zVD43+Wp7HxNjvLYf48+Udm+Q75yUZvtA44f0MZNNUcCGkkan4bjeuz4rEC2rW92FiSwoVdX4W3P2Kn691iLlVI4WGi12tBW0fa10NW8DA8zUrBSBu9kCq5LW82m/K8MRp44OYwp//UunAP+CO8Z1uZswmNvFb671dkdr9OaAMpgzhpyaEOjf7yRe1atLfpkdytU/MognwR9ilWLV7JqbA5YvghcVDm0HK0z1qR84R/3/FHMsvj7DPKNA4IWX5yWRnoVeeiimTt+KYs6cqtRWF7j0utvJAMex0IhgbqPPBZOq+F9ONH2Km23Z1fL+elWxX62XZhEUm1Vnee25493SrfPNy3rs7PfRTVM8Tf3T/Lkx8lyFDTGnCf4mwyhX2g/GmPeJvnbDJKjykmVFdwU/yCDluo0Eqe9cczzDzJItj0OT+Sc73+YQVpYUS0T/BMZpCn+iQz8BP98hmWOXxkmXcQ/kWHGB1Py5Cn6G8dv6A9vHtHpLmICbAAAAABJRU5ErkJggg==') no-repeat;
}
.icon-iron {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAfCAMAAABJaMRJAAAAYFBMVEUAAAAAAAAAAADgGiJaCg4AAAAAAAAAAAAAAACLDxQAAAAAAAAAAAAAAADDFx4AAABrDBAAAADgGiJfCw52DhIAAAAAAAAAAAAAAAAAAACbEhesFBrgGiLgGiIAAABUCg3NBYNsAAAAHXRSTlMA5Tlg761zDtebSCvIj25SyL0w4LYdnoHvZIt8QBdm/QoAAAEzSURBVDjLnZTrcoQgDIUNy00B75fdtrHv/5aV7A6j0tjOnh8iyTeQE4Xipb5glCe/8MajN+yPcxamVB7h0TzGoGzUCVKjK8eiFB9gL+UubIzYPsRT2wba2k/esRoOOddiXbCsb/FDR1UT1SQDywoLEiWQQqw1gEhJvhsBxu3FWFX8DRctDRqaC7TaDI5KlShp6q3hWQ1qxEFiC08LsFyxQpSIZQBB8jAxBQQPmySihKTf7BltwQYdl61rLMVLAaoMdR5UlRpBD5Lx/myvAbuRZp4j1ShHQ9fEwkCfKoXORNvrd1zwvqq4crd29OmP9oztDI2S9l7uTSyjXWnFCeZTp/JTkCYLHP8w8hztJ1FDaHyA2LMQJXdtPQRyljIZnLEu7XhQqsq8feav75J376j+P3ffDwlOEI400NrDAAAAAElFTkSuQmCC') no-repeat;
}
.icon-no-chlorine {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAP1BMVEUAAAAAAADgGiIAAABaCg4AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACMEBXDFx4AAABfCw4AAAAAAADgGiLqASe6AAAAFHRSTlMA5WA579esyFOPcx0OupluK+CdZJCwQ4sAAADsSURBVCjPdZHhEoMgDIPtRMCBzm2+/7OupOel4C3nj8In0CbT+Zic1tWvHqd+jh8iB1dAnkeR2FPPZ1HNpEOxSUqy9Zsssx7VC7Kn5DVJbM+nSur4Uw/j/Scp+WuRFaPL8iIlD1JaUSQMFLvh3K3az1Bu+CPvy4a3fHpmHV0mokcvzAOEXzChV4Ybyhu1FWX/E9td1Ndes8utky9pXST2+UZZ6kWbnaXPt+ggFy2w0+cLa80blHXMt7Yj0MGM+vwOLa2Ne75o14bIpOTZht1avvs8aG/5bzAwaNSjbDNPifTOE+e9iSb+56B/+Q8BhQoTE/0JGAAAAABJRU5ErkJggg==') no-repeat;
}
.icon-no-dry {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAQlBMVEUAAADgGiIAAAAAAAAAAAAAAAAAAAAAAAAAAABgCw8AAAAAAAAAAAB5DRIAAAAAAAAAAABsDRDGFx4AAAAAAADgGiLfLWwfAAAAFXRSTlMAYMwzv01bGg3fmYyzsXOmgMZsQCa7a7oVAAAA7klEQVQoz4WT147FIAxEydi0UJJb+P9f3SCtjVg2yigPmENGY4ppm7nV1q7vlnc08UDkZzr4JzG6kg06rQPKULEVKrwCOBxdy2zqDu9OB484SCq/I7a3GXKxlWCGSotpVASU2awAVssdOcxRrikWuy9g/zbix+8Ved2GhKTedd1EC/zi7iP8+jSuF0waSqjMPmOG+9c8SLRzjebAxsgoLI0d2pgH3HK+wEdSnGA/b2o4kI3IM17LkdCobWwvP8pQWqxmvg7sgizOiLPZZhng0xHZmgE4iaIneEK1kzYyBt7t3Fn9Ltf84ZHc8Ycn+APOpgpVh90/NgAAAABJRU5ErkJggg==') no-repeat;
}
.icon-no-tumble {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAQlBMVEUAAAAAAAAAAADgGiJgCw8AAAAAAADGFx4AAAAAAABxDREAAACOEBUAAAAAAAAAAAAAAAAAAAAAAAAAAACxFRvgGiIgm97iAAAAFXRSTlMAzDNg32azbFm/vpmXjE0egHMNpnn5PDM6AAAA4ElEQVQoz5XT2w7CIAwA0NJxv25T/v9XFVszqS6LfVjCDqEFCvQFTmPpsJz6oPFx+DPc0OFa/QjdHS2i2YVqJFZa5Ocl36zyy/e6plR8o6rUwTiKNCF5RF/Uto/hJz+nxxsPW4lPnRlid0feuAuulrZJecsm2OL4zQpNtYnRMvCk4ic2G5CTgi8zG05LCpj+Yb+KxdeJW5hLS1VsrBKQY9hnxnA/jsXdjDzU3O/A4XoEkFeSQ6Uh2q8reSW0YTVms1yGku0AzRtjEGQ76J5RROZmumjFi0Y+eSYMUqULFf4A4yYLS9u4+GMAAAAASUVORK5CYII=') no-repeat;
}
.icon-copyright {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAeCAQAAAAMNG+hAAABRklEQVR4Ac2UUbHlIAxAjwQkIAEJkVAJSKgEHCABCUiohEpAQiRkf5h5t5n2cbcfO3vy2XAmCTT8GwIy4xWRnQO7hNLJBL5EpuCksiMzCo2BYTTiuomKodSH1ETDUPbfJSdGXxSeODHa75J8O+TElfYsOpwkUBgfA25EJyp4yNilY0FRKkIiIOwMl9ExIg7l5IftdkYV4YeI0vG1IC5hTfH1dMalbyWwJro2URoTAkblOwb9ySoYwhrfhTtYMNb43P9OkzDyq9k0lA+M+uqmTg4+ODhfvJvg/6v98h4jysGajJG8t7uEg+BX2qXZwOC8m7lcRIrS2BCEPLdeuT3h3HopMdJQbMagEFy9nRsS6kQACUGIN1M5CfAs2lhRpmSxrg+EJzJjvfYBCooxqGwkJgiZNr9sfEUg0zEf8+b+GmGjzBASj/wBwKG6FUd1LkoAAAAASUVORK5CYII=') no-repeat;
}