
.wrapper {
    position: relative;
    height: auto;
    min-height: 100%;
    background-color: #fff
}

.container {
    /*min-width: 940px;*/
    /*max-width: 1280px;*/
    width: 880px;
    margin-left: auto;
    margin-right: auto
}

.container__in {
    /*max-width: 1000px;*/
    margin: auto;
}

.main__in {
    width: 100%
}

.navi-list__item {
    float: left;
    margin-left: 35px;
    font-family: 'PT_Sans-Narrow-Web-Bold';
    position: relative
}

.navi-list__item.active {
    background-color: #e9ebe5;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #fff;
    cursor: none;

}

.navi-list__item.active a {
    color: #000;
    outline: none;
}

.navi-list__item.active:visited, .navi-list__item.active:link {
    color: #fff
}

.navi-list__item_m_0 {
    margin: 0
}

.navi-list__link {
    border-bottom: 1px solid #deead2;
    text-decoration: none;
    font-size: 17px;
    font-family: 'GrossKunst'
}

.navi-list__link:link, .navi-list__link:visited {
    color: #006902
}

.navi-list__link:hover, .navi-list__link:active {
    opacity: .8
}

.navi-list__link.active:link, .navi-list__link.active:visited {
    color: #fff;
    cursor: default
}

.social-list__item {
    float: left
}

.social-list__item_mr_20 {
    margin-right: 20px
}

.social-list__item_ml_20 {
    margin-left: 19px
}

.social-list__item_ml_23 {
    margin-left: 23px
}

.social-list__item_ml_17 {
    margin-left: 17px
}

.social-list__link {
    border-bottom: 2px solid #deead2;
    text-decoration: none;
    font-size: 11px;
    padding-bottom: 0;
    font-family: 'trebuchet_msbold'
}

.social-list__link:link, .social-list__link:visited {
    color: #000
}

.social-list__link:hover, .social-list__link:active {
    opacity: .8
}

.line-crow {
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 70%;
    -webkit-transform: rotate(30deg) scale(2);
    -ms-transform: rotate(30deg) scale(2);
    transform: rotate(30deg) scale(2);
    width: 66px;
    height: 31px;
    position: absolute;
    right: 50%;
    top: 50%
}

/*@media screen and (min-width: 720px) {*/
/*.grid-sizer {*/
/*width: 200px*/
/*}*/
/*}*/
/**/
.main-btn {
    border-radius: 20%;
    background-color: #adff2f;
    color: #000;
    margin: auto;
    cursor: pointer
}

.btn-wrap {
    /*width: 20%;*/
    margin: 50px auto
}

.bonus {
    color: #4e4e4e;
    vertical-align: top;
    margin: 0 57px 0 0;
    font-family: 'trebuchet_msregular';
    font-size: 14px;
    line-height: 1.4;
}

.bonus__head {
    font-size: 16px;
    font-family: 'trebuchet_msbold'
}

.bonus__quantity {
    font-family: 'trebuchet_msitalic'
}

.bonus__quantity td {
    padding-right: 23px;
    padding-top: 5px
}

.boxy {
    font-family: 'GrossKunst'
}

.grid-sizer {
    width: 25%
}

.box_bt {
    border-top: 15px solid #d8e4da;
    border-top-left-radius: 15px;
    max-width: 557px;
    display: inline-block;
    text-align: left;

}

.box__inner {
    background: -webkit-gradient(linear, left top, right top, from(#fbf7ee), to(#f4efe9));
    background: -webkit-linear-gradient(left, #fbf7ee, #f4efe9);
    background: linear-gradient(left, #fbf7ee, #f4efe9);
    -webkit-box-shadow: 0 30px 62px -53px #000;
    background: #fbf7ee;
    box-shadow: 0 30px 62px -53px #000;
    margin-top: -11px;
    padding: 25px 15px 17px 38px
}

.box__inner, .box__inner_offset {
    border-top-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px
}

.box__inner_offset {
    background-color: #f4efe9;
    box-shadow: 0 46px 106px -67px #000
}

.box__inner_pt_21 {
    padding-top: 23px
}

.red-line {
    position: absolute;
    bottom: -2px;
    left: 87px;
    background-color: #e3241c;
    height: 2px;
    width: 835px;
    z-index: 2;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: rotate(-13.8deg);
    -ms-transform: rotate(-13.8deg);
    transform: rotate(-13.8deg)
}

.submit-order__text {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
    padding-right: 60px
}

.submit-order__left {
    float: left;
    margin: 5px 0 0 34px
}

.submit-order__right {
    margin-left: 200px
}

.submit-order__inner {
    background-color: #f4efe9;
    border-radius: 15px;
    padding: 25px 0 20px
}

.order-thank-top {
    margin: 0 0 32px 391px
}

.order-thank-wrap {

}

.change-mail__head {
    font-family: 'trebuchet_msbold';
    font-size: 15px
}

.change-mail {
    margin-left: 185px;
    text-align: center;

}

.change-mail__head_mb_12 {
    margin-bottom: 12px
}

.change-mail__unsubscribe {
    font-size: 12px;
    font-family: 'trebuchet_msbold'
}

.change-mail__unsubscribe u:after {
    bottom: -1px
}

.change-mail__unsubscribe:link, .change-mail__unsubscribe:visited {
    color: #006902
}

.change-mail__unsubscribe:hover, .change-mail__unsubscribe:active {
    color: #e12519
}

.change-mail__unsubscribe_ml {
    margin-left: 11px
}

.change-mail__bottom {
    padding: 11px 0 10px 75px
}

.btn_in-shadow {
    padding: 3px 13px
}

.input-wrap_mb {
    margin-bottom: 13px
}

.input-label {
    font-size: 14px;
    padding: 0 9px 0 0;
    font-family: 'trebuchet_msbold';
    cursor: pointer
}

.input-label_pr_29 {
    padding-right: 29px
}

.input {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 4px 10px 5px;
    box-shadow: inset 0 2px 8px -3px #555;
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=2, offY=2, color=#000)
}

.input:focus {
    box-shadow: 0 0 4px 1px #006902, inset 0 2px 8px -3px #000;
    outline: none
}

.input_name {
    margin-left: 93px;
}

.name-take {
    margin-bottom: 15px;
}

.input_w_154 {
    width: 154px
}

.input_w_162 {
    width: 162px;
    color: #92110c;
    font-size: 15px
}

.track-order {
    font-family: 'trebuchet_msregular';
    margin-left: 165px;
    text-align: center;
}

.track-order__head {
    font-size: 19px;
    line-height: 1.8
}

.track-order__text {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 2px
}

.track-order__add-text {
    font-family: 'trebuchet_msitalic';
    margin-left: 12px
}

.track-order__bottom {
    margin: 26px 0 27px
}

.change-mail-wrap {
    margin: auto;
    max-width: 960px;
}

.input-wrap {
    position: relative
}

.input-wrap__eye {
    position: absolute;
    outline: none;
    width: 19px;
    height: 9px;
    right: 106px;
    top: 8px;
    background: url("../img/icon/eye.png")
}

.input-wrap__eye:hover {
    opacity: .6
}

.processing-order__my {
    /*margin: 0 0 0 264px*/
    margin-bottom: 36px;
}

.processing-order__wrap {
    max-width: 960px;
    margin: auto;
}

.mar_auto {
    margin: 30px auto 30px;
}

.replace-list__item {
    margin: 0 0 5px
}

.replace-list__item_head {
    font-family: 'trebuchet_msitalic';
    font-size: 14px
}

.replace-list__color {
    font-size: 17px;
    margin: 0 0 0 19px
}

.drop-list__item {
    margin-bottom: 9px;
}

.drop-list__item_mb {
    margin-bottom: 0;
}

.color-list__item_head {
    font-family: 'trebuchet_msitalic';
    font-size: 14px;
    margin-bottom: 6px;
    padding-left: 13px;
}

.select-wrap {
    width: 165px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    height: 28px;
    padding-top: 0;
    background: #cac7c0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cac7c0), color-stop(100%, #bab9b7));
    background: -webkit-gradient(linear, left top, left bottom, from(#cac7c0), to(#bab9b7));
    background: -webkit-linear-gradient(top, #cac7c0 0%, #bab9b7 100%);
    background: linear-gradient(to bottom, #cac7c0 0%, #bab9b7 100%)
}

.select-wrap:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #d04298;
    border-radius: 50%;
    top: 8px;
    left: 22px
}

.select {
    outline: none;
    width: 190px;
    font-size: 14px;
    border: none;
    height: 28px;
    font-family: 'trebuchet_msitalic';
    padding: 0 0 0 34px;
    color: #000;
    background: 0 0
}

.select:focus {
    outline: none
}

.option-breadcrumb {
    margin: 0 0 33px
}

.option-sign-in {
    margin: 45px 0 0 14px
}

.option-sign-text {
    width: 180px;
    font-weight: 700;
    padding: 42px 64px 0 0
}

.option-wrap {
    margin: auto;
    max-width: 1000px;
}

.option-total {
    margin: 45px 0 0 0;
}

input[type=radio].deadline-radio {
    display: none
}

input[type=radio].deadline-radio + label.deadline-label {
    width: 14px;
    height: 14px;
    border: 1px solid #c3c3c3;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: -20px;
    top: 2px
}

input[type=radio].deadline-radio:checked + label.deadline-label:before {
    content: '';
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px
}

.pointer-wrap {
    position: relative
}

.color-list {
    font-family: "trebuchet_msregular", Arial, sans-serif;
}

.color-list__item {
    margin: 0 0 6px;
    cursor: pointer;
}

.color-list__item_custom {
    margin-top: 27px;
}

.color-list__item:hover .color-list__circle {
    background-color: #e5e5e5
}

.color-list__item_mb_8 {
    margin-bottom: 8px
}

.color-list__item-bottom {
    font-size: 12px;
    margin: 2px 0 0 60px;
    width: 120px;
    line-height: 1.3
}

.color-list__circle {
    vertical-align: top;
    padding: 3px 8px 0 20px;
    margin: 0 3px 0 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px
}

.color-list__circle .fa-circle {
    font-size: 28px
}

.color-list__circle.active {
    background-color: #e5e5e5
}

.color-list__link {
    font-size: 15px;
    vertical-align: top;
    text-decoration: none
}

.color-list__link u:after {
    bottom: 0;
    border-top-color: #006902
}

.color-list__link:link, .color-list__link:visited {
    color: #4d4d4d
}

.color-list__link:hover, .color-list__link:active {
    opacity: .8
}

.color-list__link:hover u:after, .color-list__link:active u:after {
    bottom: 0
}

.color-list__link.active {
    font-weight: 700;
    opacity: 1
}

.color-list__link.active u:after {
    border: none
}

.color-list__link span {
    position: relative;
    border-bottom: 1px dashed #006902;
    padding-bottom: 2px;
    line-height: 1;
    text-decoration: none;
    border-top: none
}

.color-list__link span:after {
    content: '';
    display: none
}

.circle-pg .fa-circle {
    color: #ec2d8c
}

.circle-lbg .fa-circle {
    color: #57caf6
}

.circle-bg .fa-circle {
    color: #008ec6
}

.circle-gs .fa-circle {
    color: #00a650
}

.circle-yg .fa-circle {
    color: #faaa49
}

.circle-red .fa-circle {
    color: #c8241b
}

.circle-custom .fa-circle {
    color: #7f7f7f
}

.preview {
    margin: 62px auto 20px;
}

.preview__title {
    margin: 0 0 22px 150px;
    font-weight: 700
}

.preview__img-wrap {

}

.preview__bottom {
    position: relative;
    width: 85%;
    margin: 30px auto 0;

}

.preview__scroll-line {
    background-color: #e5dec2;
    height: 1px;
    width: 100%
}

.preview__scroll {
    height: 12px;
    width: 126px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: -7px;
    background: #f1ece6;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1ece6), color-stop(100%, #e1e0dc));
    background: -webkit-gradient(linear, left top, left bottom, from(#f1ece6), to(#e1e0dc));
    background: -webkit-linear-gradient(top, #f1ece6 0%, #e1e0dc 100%);
    background: linear-gradient(to bottom, #f1ece6 0%, #e1e0dc 100%)
}

.preview__top {
    text-align: center;
}

.preview__scroll:hover {
    box-shadow: 0 0 8px -3px #000
}

.preview__link-wrap {
    position: relative;
}

.preview__link-wrap:before,
.preview__link-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;

}

.preview__link-wrap:before {
    left: -40px;
    background: transparent url('../img/shadows/shadow-left.png') 0 0 no-repeat;
    -webkit-background-size: 100%;
}

.preview__link-wrap:after {
    right: -40px;
    background: transparent url('../img/shadows/shadow-right.png') 0 0 no-repeat;
    -webkit-background-size: 100%;
}

.preview__img-link {
    float: left;
    margin: 0 1px 0 0;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    max-width: 112px;
    line-height: 1px;
    opacity: 1;
}

.preview__img-link:last-child {
    margin-right: 0;
}

.preview__img-link:hover {
    opacity: 0.9;
}

.preview__img-link:focus {
    outline: none;
}

.preview__img-link.active {
    position: absolute;
    z-index: 10;
    width: 90px;
    top: -25px;
    left: -15px;
    box-shadow: 0 0 45px -10px #000
}

.happy {
    font-family: 'trebuchet_msregular';
    font-size: 0;
    width: 860px;
    margin: 64px auto;
}

.happy__left {
    vertical-align: top
}

.happy__title {
    margin: 0;
    font-size: 22px;
    letter-spacing: 1px
}

.happy__user {
    margin: 4px 0 0 33px;
    font-family: 'trebuchet_msbold';
    font-size: 12px
}

.happy__user-country {
    text-decoration: none;
    font-size: 12px;
    background-color: #73a951;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: 400
}

.happy__user-country:link, .happy__user-country:visited {
    color: #fff
}

.happy__user-country:hover, .happy__user-country:active {
    opacity: .8;
    border-bottom: none
}

.happy__reviews {
    text-align: right;
    padding: 7px 0 0
}

.happy__reviews-link {
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 1px solid #cde5cd
}

.happy__reviews-link:link, .happy__reviews-link:visited {
    color: #006902
}

.happy__reviews-link:hover, .happy__reviews-link:active {
    opacity: .8
}

.happy__right {
    vertical-align: top;
    /*width: 725px;*/
    border-left: 4px solid #c9c9c9;
    padding: 10px 0 10px 15px;
    background-color: #f7f7f7;
    margin: 0 0 0 16px
}

.happy__info {
    width: 550px;
    line-height: 1.5;
    font-size: 12px
}

.share {
    margin: 20px 0;
    font-family: 'trebuchet_msregular';
}

.share__soc {
    background-color: #dedede;
    width: 81px;
    padding: 1px 0 1px 5px;
    border-radius: 4px
}

.share__list {
    margin: 31px 0;
    padding: 0 37px;
}

.share__item {
    margin: 0 0 10px;
}

.share__link {
    padding: 3px 4px 0;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #222;
    border-radius: 3px;
}

.share__link:hover {
    border-color: #999;
}

.share__link:hover,
.share__link:visited {
    color: #222;
}

.share__fb-icon {
    background: url("../img/icon/facebook.svg") center center no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    margin-right: 3px
}

.share__text {
    vertical-align: middle;
    text-decoration: none
}

.share__text:link, .share__text:visited {
    color: #000
}

.share__count {
    vertical-align: middle;
    border-left: 1px solid #c6c6c6;
    margin: 0 0 0 7px;
    padding: 0 0 0 5px
}

.share__info {
    margin: 10px 0 0 7px;
    line-height: .8
}

.share__discount {
    font-size: 11px;
    text-decoration: none;
    margin: 0 0 11px 6px;
    border-bottom: 1px solid #cde5cd
}

.share__discount:link, .share__discount:visited {
    color: #006902
}

.share__discount:hover, .share__discount:active {
    opacity: .8
}

.summary-add {
    position: relative;
    margin: 20px 0;
    z-index: 20;
}

.summary-add__list {
    padding: 0 28px;
}

.summary-add__link {
    font-size: 12px;
    text-decoration: none;
    margin: 0 0 3px 7px;
    border-bottom: 1px dashed #cde5cd;
    color: green;
}

.summary-add__link:link,
.summary-add__link:visited {
    color: green
}

.summary-add__link:hover,
.summary-add__link:active {
    opacity: .8
}

.quality__img-wrap {
    margin-bottom: 5px;
    text-align: center
}

.quality__img-wrap img {
    border-radius: 50%;
    height: 245px;
    width: 245px
}

.quality__title {
    margin: 0;
    padding: 0 0 0 32px
}

.quality__desc {
    padding: 0 0 0 32px;
    line-height: 1.5
}

.friend-discount {
    border: 2px dashed #d8d8d8;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 243px
}

.friend-discount__inner {
    padding: 31px 0 25px 22px
}

.friend-discount__top {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 18px
}

.friend-discount__top_fw {
    font-weight: 700
}

.friend-discount__info {
    font-size: 14px;
    font-weight: 700
}

.friend-discount__code {
    font-size: 28px;
    color: #9a2c1d;
    line-height: 1.2
}

.friend-discount__bottom {
    font-weight: 700
}

.more {
    width: 290px;
    margin: auto;
}

.more__top {
    text-align: center;
    margin-bottom: 8px
}

.more__info {
    font-style: italic;
    font-size: 16px;
    font-weight: lighter;
    font-family: "Conv_PT_Sans-Narrow-Web-Regular";

}

.more__info, .more__img-wrap {
    text-align: center
}

.coupon {
    float: left;
    width: 245px;
    margin: 285px 0 0 40px
}

.coupon__top {
    font-size: 14px;
    margin-bottom: 10px
}

.coupon__link {
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #cde5cd
}

.coupon__link:link, .coupon__link:visited {
    color: #000
}

.coupon__link:hover, .coupon__link:active {
    opacity: .8
}

.coupon__invalid {
    color: #92110c;
    font-size: 14px;
    margin-top: 5px
}

.currency {
    width: 66px;
    border: 1px solid #bdbdbd;
    border-radius: 7px;
    font-size: 0;
    background: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e1e1df));
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e1e1df));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #e1e1df 100%);
    background: linear-gradient(to bottom, #f5f5f5 0%, #e1e1df 100%);
    box-shadow: 0 2px 10px -5px #000;
    margin: 5px 40px 0 0;
}

.currency__text {
    text-align: center;
    cursor: pointer;
    font-size: 12px
}

.currency__text_border {
    border-right: 1px solid #bac6ae;
    border-left: 1px solid #bac6ae
}

.currency__text:hover {
    background: #97a38b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97a38b), color-stop(100%, #d7e7ca));
    background: -webkit-gradient(linear, left top, left bottom, from(#97a38b), to(#d7e7ca));
    background: -webkit-linear-gradient(top, #97a38b 0%, #d7e7ca 100%);
    background: linear-gradient(to bottom, #97a38b 0%, #d7e7ca 100%)
}

.currency__text_br {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}

.currency__text_bl {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}

.currency__text.active {
    background: #97a38b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #97a38b), color-stop(100%, #d7e7ca));
    background: -webkit-gradient(linear, left top, left bottom, from(#97a38b), to(#d7e7ca));
    background: -webkit-linear-gradient(top, #97a38b 0%, #d7e7ca 100%);
    background: linear-gradient(to bottom, #97a38b 0%, #d7e7ca 100%)
}

.currency .fa-eur {
    width: 22px
}

.currency .fa-usd, .currency .fa-gbp {
    width: 21px
}

.my-list {
    font-family: 'trebuchet_msregular';
    max-width: 750px;
    margin: 10px auto 0;
    line-height: 1;

}

.my-list__item {
    float: left;
    font-size: 16px
}

.my-list__item_w_128 {
    width: 128px;
    font-family: "trebuchet_msregular";

}

.my-list__item_w_96 {
    width: 96px
}

.my-list__item_w_95 {
    width: 95px
}

.my-list__item_w_176 {
    width: 176px
}

.my-list__link {
    text-decoration: none;
    border-bottom: 1px solid #deead2;
    letter-spacing: 0px;
}

.my-list__link:link, .my-list__link:visited {
    color: #006902
}

.my-list__link:hover, .my-list__link:active {
    opacity: .8
}

.my-list__link.active {
    border: none;
    font-weight: 700;
    letter-spacing: 0;
}

.my-list__link.active:link, .my-list__link.active:visited {
    color: #000
}

.my-list__link.active:hover, .my-list__link.active:active {
    opacity: 1
}

.body {
    font: .625em/1.38 GrossKunst-Text;
    color: #000;
    margin: auto
}

.fluid-span-1 {
    width: 100%
}

.blurJS {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: relative
}

.blurJS:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .1);
    content: "";
    z-index: 11
}

.spb-block {
    padding: 50px 20px
}

.spb-tomain {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    text-decoration: none
}

.spb-tomain:hover {
    background: #dfdfdf;
    cursor: pointer
}

a.small_cart {
    vertical-align: bottom;
    background: url("../img/icon/small_cart.png") no-repeat;
    height: 30px;
    width: 30px;
    display: inline-block;
}

.order-info__img-link {
    border-radius: 50%;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
}

.order-info__img-link img {
    width: 100%;
    display: inline-block;
}

.fa_fs_light {
    font-weight: lighter;
}

.banner {
    background: transparent url(../img/texture/banner.jpg) 0 0 no-repeat;
    max-width: 880px;
    height: 80px;
    margin: 0 auto 45px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    position: relative;
}

.banner__bottline {
    vertical-align: bottom;
    height: 110px;
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.banner__links {
    display: inline-block;
    position: relative;
    bottom: 19px;
}

.banner_txt {
    font-style: italic;
    margin-top: 5px;
    color: #5f6062;
}

.banner_txt .fa-eur {
    font-size: 12px;
}

.banner__title {
    margin-top: 16px;
    font: 44px 'GrossKunst';
    text-shadow: 0 0 10px rgba(255, 255, 2555, 1);
}

.green-arrow-item {
    position: relative;
    display: inline-block;
    height: 24px;
    margin: 0 25px;
    background: url("../img/icon/arrow-long-02.png") center repeat;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.green-arrow-item:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    background: transparent url('../img/icon/arrow-long-01.png') center no-repeat;
    width: 18px;
    height: 24px;
}

.green-arrow-item:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    background: transparent url('../img/icon/arrow-long-03.png') center no-repeat;
    width: 22px;
    height: 24px;
}

.green-arrow-item a {
    display: inline-block;
    position: relative;
    line-height: 1.9;
    color: #fff;
    padding: 0 10px;
}

.green-arrow-item a:hover {
    color: #f5f5f5;
}

.gallery {
    width: 100%;
    font-size: 0;
}

.gallery__title {
    font-size: 13px;
    margin: 18px auto 0;
    font-family: 'trebuchet_msitalic';
    max-width: 720px;
}

.gallery__link-wrap {
    position: relative;
    height: 145px;
}

.gallery__link-wrap:after {
    vertical-align: middle;
    content: '';
    display: inline-block;
    height: 100%;
}

.gallery__img-link {
    display: inline-block;
    max-width: 70px;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.gallery__img-link + .active {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    box-shadow: 0 0 10px #ccc;
}

.gallery__img-link:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    box-shadow: 0 0 10px #ccc;
}

.jumpsuit {
    color: #898989;
    margin: 25px 0 44px;
}

.jumpsuit table {
    width: 100%;
    text-align: center;

}

.jumpsuit th {
    font-weight: lighter;
}

.jumpsuit td {
    color: #1b1b1b;
}

.jumpsuit select {
    background: red;
    height: 22px;
    text-decoration: none;
    font-family: 'trebuchet_msitalic';
    position: relative;
    cursor: pointer;
    background: #cac7c0;
    font-size: 12px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cac7c0), color-stop(100%, #bab9b7));
    background: -webkit-gradient(linear, left top, left bottom, from(#cac7c0), to(#bab9b7));
    background: -webkit-linear-gradient(top, #cac7c0 0%, #bab9b7 100%);
    background: linear-gradient(to bottom, #cac7c0 0%, #bab9b7 100%);
    padding: 2px 0;
    border-radius: 10px
}

.select2-container .select2-choice .select2-arrow {
    display: none;
}

#s2id_age {
    overflow: hidden;
    position: relative;
    height: 28px;
    padding-top: 0;
    background: #7e7c76;
    border-radius: 50%;
    border: none;

    text-decoration: none;
    font-family: 'trebuchet_msitalic';
    position: relative;
    cursor: pointer;
    background: #cac7c0;
    font-size: 12px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cac7c0), color-stop(100%, #bab9b7));
    background: -webkit-gradient(linear, left top, left bottom, from(#cac7c0), to(#bab9b7));
    background: -webkit-linear-gradient(top, #cac7c0 0%, #bab9b7 100%);
    background: linear-gradient(to bottom, #cac7c0 0%, #bab9b7 100%);
    border-radius: 10px
}

.links a {
    display: block;
    font-size: 18px;

}

.links {
    width: 300px;
    margin: auto;
}


.clearfix {

}

.clearfix:after {
    clear: both;
    content: '';
    display: table;

}

#country-select {
    width: 100%;

}

#tel {
    width: 40%;
}