<!DOCTYPE html>
<html>
<head>
	<title>ModlenRails</title>
	<link rel="stylesheet" href="start.css" />

	<script type="text/javascript" src="javascripts/masonry.js"></script>
	<script type="text/javascript" src="javascripts/lazyload.js"></script>
	<script type="text/javascript" src="javascripts/custom.js"></script>
</head>


<body>
<div class="pop-up ">
	<img src=""/>
</div>

<div class="pop-up-sign">
	<div class="popup-sign" style="width: 297px">
		<a class="popup-sign__modlen-link dashed" href="<%= variants_path %>"><u></u></a>

		<div class="popup-sign__inner">
			<a href="#" class="popup-sign__close"><i class="fa fa-times"></i></a>
			<div class="popup-sign__img-wrap">
				<a href="#" class="popup-sign__link dashed"><u>Sign in with</u></a>
				<span class="popup-sign__f">f</span>
			</div>

		</div>
	</div>
</div>
<div class="forBlur ">
	<div class="wrapper">
		<div class="container" id="" >
			<header class="head">
				<div class="head__theme head__theme_mb_32"></div>

				<div class="head__left">
					<div class="head__logo"><a href="#" class="head__logo-link"><img src='img/content/logo.svg'></a></div>
					<div class="head__quality">
						<h1><a href="#" class="head__quality-link">Quality</a></h1>
						<h1><a href="#" class="head__quality-link">Beauty</a></h1>
						<h1><a href="#" class="head__quality-link">Accessibility</a></h1>
					</div>
				</div>

				<div class="head__right">
					<div class="head__top">
						<div class="head__my">
							<div class="head__like">
								<div class="like-this">
									<a class="like-this__heart" href="<%= variants_path %>"><span class="like-this__num">0</span></a>
								</div>
							</div>
							<a href="<%= variants_path %>" class="head__my-link dashed"><u>My Modlen</u></a>
							<div class="head__cart">
								<span class="head__cart-circle active">17</span>
								<a href="<%=cart_url %>" class="head__cart-link">Cart</a>
							</div>
						</div>
						<div class="head__free">
							<a href="#" class="head__shipping-link">Free shipping</a> to New York<span class="head__and"> &</span> USA
						</div>
					</div>

					<div class="head__navi-list">
						<ul class="navi-list">
							<li class="navi-list__item navi-list__item_m_0"><a class="navi-list__link" href="#">Rhythmic Gymnastics Leotards</a>
							</li>
							<li class="navi-list__item"><a class="navi-list__link" href="#">Acrobatic Gymnastics Dress</a>
							</li>
							<li class="navi-list__item "><a class="navi-list__link" href="#">Ice Figure Skating Dress</a>
							</li>
						</ul>
					</div>
					<div class="head__social-list">
						<ul class="social-list">
							<li class="social-list__item social-list__item_mr_20">
								<a href="#" class="social-list__link">STUDIO</a>:
								<a href="#" class="head__fb-link"><i class="icon-fb"></i></a>
								<a href="#" class="head__instagram-link"><i class="icon-instagram"></i></a>
								<a href="#" class="head__pinterest-link"><i class="icon-pinterest"></i></a>
							</li>
							<li class="social-list__item">
								<a href="#" class="social-list__link">STORE</a>:
								<a href="#" class="head__etsy-link"><i class="icon-etsy"></i></a>
							</li>
							<li class="social-list__item social-list__item_ml_20"><a href="#" class="social-list__link">HAPPY CUSTOMERS</a></li>
							<li class="social-list__item social-list__item_ml_20"><a href="#" class="social-list__link">FAQ</a></li>
							<li class="social-list__item social-list__item_ml_17"><a href="#" class="social-list__link">CONTACT</a></li>
						</ul>

					</div>
				</div>
			</header>


<!-- contetns -->

			<div class="option-wrap">

			<div class="option">
			<div class="option__left">

				<div class="option__item-prev">
					<div class="option__control-bar">
						<div class="option__control-bar-inner">
							<a href="#" class="order__cross"><i class="fa fa-times"></i></a>
						</div>
					</div>
					<div class="order__img order__img_mt_25">
						<a href="#" class="order__img-link">
							<img src="img/content/n39-IMG_7430.jpg" alt=""/>
						</a>
						<a href="#" class="order__rotator"></a>
					</div>
				</div>

				<p class="option__color-text">We have a small chance that we'll not find the color which you choosed in the
				                              market store, in that's way contact you as soon as possible.</p>

				<p class="option__sewing">Sewing:</p>

				<div class="option__clear">
					<i class="fa fa-times"></i>
					<a href="#" class="option__clear-all dashed"><u>Clear all fields</u></a>
				</div>
				<div class="option__mirror">
					<div class="option__mirror-img">
						<img src="../../img/options/fromNeck.jpg">
					</div>
					<p class="option__mirror-info">Stand in front of the mirror with your heels together, keeping tape straigth and
					                               parralel to the floor.Measure around the fullest part og your hips.</p>
				</div>
				<a class="option__videoguide dashed" href="#"><u>Watch videoguide</u></a>
			</div>


			<div class="option__center">
			<div class="box box_bt" style="width: 557px">
			<div class="box__inner box__inner_pt_21">

			<div class="order__number">Order #973-1</div>
			<div class="option__top-wrap">
				<a href="#" class="order__name-link order__name-link_fs_17">Rhythmic Gymnastics Leotard #24</a>
				<div class="option__drop-list option__drop-list_offset">
					<ul class="drop-list">
						<li class="drop-list__item">
            <span class="option__color-switch">
            <i class="fa fa-sort"></i><i class="fa fa-circle"></i>Pink & Green</span>
						</li>
					</ul>
				</div>
			</div>

			<p class="option__text">The ready for sale rhythmic leotard is made of stretch lycra,
				<span class="option__text-mesh"><i class="fa fa-sort"></i> transparent mesh</span>
			                        , decorated by applications. The leotard is decorated by paillettes. At the front and at the back the are 1000
			                        Swarovski crystal. Great look on any gymnast!</p>

			<div class="option__option-list">
				<ul class="option-list">
					<li class="option-list__item">
						<a href="#" class="option-list__link option-list__link_c_green dashed"><u>No crystals</u></a>
					</li>
					<li class="option-list__item">
						<a href="#" class="option-list__link option-list__link_c_green active dashed"><u>Basic</u></a>
					</li>
					<li class="option-list__item">
						<a href="#" class="option-list__link option-list__link_c_green dashed"><u>Swarowski</u></a></li>
					<li class="option-list__item">
						<div class="option-list__count">
							<div class="option-list__arrow">
								<a href="#" class="option-list__arrow-up"></a>
								<a href="#" class="option-list__arrow-down"></a>
							</div>
							<div class="option-list__info"><span class="option-list__info_fw">1000 </span> crystals</div>
						</div>
					</li>
					<li class="option-list__item option-list__item_position">
						<a href="#" class="option-list__choose link"><u>How choose crystals</u></a>
					</li>
				</ul>
				<a class="option__free-cryst" href="#">FREE</a>
			</div>

			<div class="option__adjust">

				<div class="option__adjust-top">
					<h4> Adjust the color of the leotard</h4>
					<a class="option__free-adjust" href="#">FREE</a>
				</div>

				<div class="option__replace-list-wrap">
					<ul class="replace-list">
						<li class="replace-list__item replace-list__item_head">Replace</li>
						<li class="replace-list__item"><span class="replace-list__color icon-pink">Pink</span></li>
						<li class="replace-list__item"><span class="replace-list__color icon-green">Green</span></li>
						<li class="replace-list__item"><span class="replace-list__color icon-white">White</span></li>
					</ul>
				</div>
				<div class="option__color-list">
					<ul class="color-list">
						<li class="color-list__item color-list__item_head">Select the color</li>

						<li class="color-list__item">
							<div class="option__drop-list">
								<ul class="drop-list">
									<li class="drop-list__item">
                  <span class="option__color-switch">
                    <i class="fa fa-sort"></i><i class="fa fa-circle"></i>Pink & Green
                  </span>
									</li>
									<li class="drop-list__item">
                  <span class="option__color-switch option__color-switch_yellow">
                    <i class="fa fa-sort"></i><i class="fa fa-circle"></i>Yellow
                  </span>
									</li>
									<li class="drop-list__item">
                  <span class="option__color-switch option__color-switch_orange">
                    <i class="fa fa-sort"></i><i class="fa fa-circle"></i>Orange
                  </span>
									</li>
								</ul>
							</div>
						</li>





					</ul>
				</div>
				<div class="option__textarea-top">
					<textarea name="adjust" id="adjustColor" cols="20" rows="5" class="option__textarea"
					          placeholder="If you have any other additions
                about color,just write your comments here please."></textarea>
				</div>
			</div>


			<div class="option__size-list">
				<ul class="size-list">
					<li class="size-list__item"><span class="size-list__link dashed" ><u>Pick size</u></span></li>
					<li class="size-list__item size-list__item_ml_7">
						<span class="size-list__link size-list__link_active dashed" ><u>Custom fit</u></span>
					</li>
					<li class="size-list__item"><a class="size-list__arrow" ></a></li>
					<li class="size-list__item size-list__item_ml_4">
						<span class="size-list__link dashed" ><u>Exactly by measurement</u></span></li>
					<li class="size-list__item size-list__item_ml_7p">
						<span class="size-list__link size-list__link_active dashed" ><u>For growth</u></span>
					</li>
				</ul>
				<div class="option__unit-wrap">
					<span class="option__unit option__unit_active dashed" ><u>CM</u></span>
					<span class="option__unit dashed" ><u>Inches</u></span>
				</div>
			</div>

			<div class="option__user-measure">
				<div class="option__order-num">
					<p class="option__order-num-head">Fill measurements like in order </p>
					<div class="option__control-wrap">
						<ul class="num-list">
							<li class="num-list__item">
								<span class="option__order-num_control"><i class="fa fa-sort"></i>973-1; Leo 39 for Nancy</span>
							</li>
						</ul>
					</div>
				</div>

				<form action="">

					<div class="option__measure-list">
						<ul class="measure-list">
							<li class="measure-list__item ">
								<label class="measure-list__label measure-list__label_unit_none" for="Name">Models name</label>
								<input type="text" id="Name" class="input measure-list__input measure-list__input_width"/>

								<p class="option__right-text">Fill in original measurements</p>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label measure-list__label_unit" for="age">Age</label>
								<input type="text" id="Age" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="height"><span class="measure-list__num">1</span>Height</label>
								<input type="text" id="Height" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="chest"><span class="measure-list__num">2</span>Chest</label>
								<input type="text" id="Chest" class="input measure-list__input"/>
								<span class="option__measure-comment-field">Comment for this field</span>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="waist"><span class="measure-list__num">3</span>Waist</label>
								<input type="text" id="Waist" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="hips"><span class="measure-list__num">4</span>Hips</label>
								<input type="text" id="Hips" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="biceps"><span class="measure-list__num">5</span>Biceps</label>
								<input type="text" id="Biceps" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="elbow">
									<span class="measure-list__num">6</span>Elbow</label>
								<input type="text" id="Elbow" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item measure-list__item_error" >
								<label class="measure-list__label" for="wrist"><span class="measure-list__num">7</span>Wrist</label>
								<input type="text" id="Wrist" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item ">
								<span class="measure-list__num">8</span>
								<a class="measure-list__link link dashed" href="#"><u>Collar</u></a>
								<a class="measure-list__link measure-list__link_active link dashed" href="#"><u>No collar</u></a>
								<input type="text" class="input measure-list__input" disabled/>

								<div class="item__price item__price_strike item__price_collar"><i class="fa fa-usd"></i>3.-</div>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="shoulder"><span class="measure-list__num">9</span>Shoulder</label>
								<input type="text" id="Shoulder" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="neck"><span class="measure-list__num">10</span>Neck circle</label>
								<input type="text" id="Neck" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="fromNeck">
									<span class="measure-list__num">11</span> From neck to groin</label>
								<input type="text" id="FromNeck" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="lWaist"><span class="measure-list__num">12</span>Length to
								                                                                                         waist</label>
								<input type="text" id="LWaist" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="lSkirt"><span class="measure-list__num">13</span>Length to
								                                                                                         skirt</label>
								<input type="text" id="LSkirt" class="input measure-list__input"/>
							</li>
							<li class="measure-list__item">
								<label for="sleeve" class="measure-list__label"></label>
								<span class="measure-list__num">14</span>
								<a class="measure-list__link measure-list__link_active link dashed" href="#"><u>Sleeves</u></a>
								<a class="measure-list__link link dashed" href="#"><u>No sleeves</u></a>
								<input type="text" class="input measure-list__input" id="sleeve"/>
								<span class="option__measure-depicted"><i class="fa fa-sort"></i> as depicted</span>
							</li>
							<li class="measure-list__item">
								<label for="skirt" class="measure-list__label"></label>
								<span class="measure-list__num">15</span>
								<a class="measure-list__link measure-list__link_active link dashed" href="#"><u>Skirt</u></a>
								<a class="measure-list__link link dashed" href="#"><u>No skirt</u></a>
								<input type="text" class="input measure-list__input" id="skirt"/>

								<div class="item__price item__price_strike item__price_skirt"><i class="fa fa-usd"></i>25.-</div>
							</li>
							<li class="measure-list__item">
								<label class="measure-list__label" for="body"><span class="measure-list__num">16</span>Body</label>
								<input type="text" id="Body" class="input measure-list__input"/>
							</li>

							<li class="measure-list__item measure-list__item_offset">
								<a href="#" class="measure-list__add-link dashed"><u>Add measurements for jumpsuit sewing</u></a>
							</li>
						</ul>
					</div>

				</form>
			</div>

			<div class="option__request">
				<div class="option__special-request">Special request</div>
				<div class="option__textarea-wrap">
					<textarea name="special" id="specialRequest" cols="20" rows="5" class="option__textarea-special"
					          placeholder="If you have already discussed the details
              of your order, please duplicate the result here"></textarea>
				</div>
			</div>

			</div>
			</div>
			</div>

			<div class="option__right">
				<div class="option__price"><i class="fa fa-usd"></i>119.-</div>

			</div>

			</div>



			<div class="option-total">

				<div class="summary summary_br summary_inline" style="width: 555px">
					<div class="summary__head summary__head_br-top">
						<span class="summary__head_fw">Leotards Total</span> without 20% tax, 2,5% transaction & sheeping fees
					</div>

					<div class="summary__inner summary__inner_pb_6 summary__inner_br_top">

						<div class="summary__left summary__left_w_28">
							<div class="price">
								<div class="price__amount"><i class="fa fa-eur"></i>107.-</div>
							</div>
						</div>
						<div class="summary__center">
							<a href="#" id= "next_step" class="btn btn_green btn_box-shadow left"><span class="btn_in-shadow">Next step</span></a>
						</div>
						<div class="summary__right">
							<div class="summary__img">
								<a class="summary__save-shopping link" href="#"><u>Save & Continue Shopping</u></a>
							</div>
						</div>

						<p class="summary__info summary__info_offset">To the payment and delivery</p>

					</div>
				</div>

				<div class="cancel cancel_mt_9">
					<div class="cancel__left cancel__left_w_132">
						<a href="#" class="cancel__order-link">Cancel order</a>
					</div>
					<div class="cancel__right">
						<p class="cancel__specify">It remains to specify:
							<a href="#" class="cancel__red-link dashed"><u>City</u></a>,
							<a href="#" class="cancel__red-link dashed"><u>Street address</u></a>,
							<a href="#" class="cancel__red-link dashed"><u>Country</u></a>,
							<a href="#" class="cancel__red-link dashed"><u>Zip code</u></a>,
							<a href="#" class="cancel__red-link dashed"><u>Email</u></a>
						</p>
					</div>
				</div>


			</div>

			</div>

<!-- .contetns -->
		</div><!-- .container -->
	</div>


	<footer class="foot">
		<div class="container">
			<div class="foot__inner">


				<div class="body index clearfix">
					<div class="element element-1"></div>
					<div class="element element-2"></div>
					<div class="memberclub-header clearfix">
						<p class="header">Members club emails</p>
						<p class="header-text">Be the first to know about new leotards</p>
					</div>
					<p class="enter-your">Enter your</p>
					<input class="field field-1" name="name" placeholder="name" type="text">
					<p class="and">&amp;</p>
					<input class="field field-2" name="name" placeholder="e-mail" type="email">
					<button class="_button">SIGN UP&nbsp;</button>


				</div>


				<div class="foot__wrap">
					<div class="foot__sewing">
						<div class="foot__sewing-top">
							<a href="#"><i class="instagram-icon"></i></a>
							<a href="#" class="foot__sewing-link">Sewing process</a>
						</div>
						<div class="foot__sewing-img-wrap">
							<div class="foot__sewing-img"></div>
							<div class="foot__sewing-img"></div>
							<div class="foot__sewing-img"></div>
						</div>
					</div>
					<div class="foot__copyright">
						<div class="foot__copyright-top">&#169; 2000 - 2014,
							<a href="#" class="foot__store">Rhythmic Gymnastics Leotard Store</a></div>
						<div class="foot__copyright-bottom">
							<div class="foot__copy-left">
								<a class="foot__copyright-link" href="#">Copyright</a>
								<a class="foot__copyright-link" href="#">Privacy policy</a>
								<a class="foot__copyright-link" href="#">Terms of use</a>
							</div>
							<div class="foot__copy-right">
								<a class="foot__copyright-link foot__copyright-link_fw" href="#">Shipping & returns</a>
								<a class="foot__copyright-link" href="#">Articles</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>

</div>

</body>
</html>

