<!DOCTYPE html>
<html>
<head>
	<title>ModlenRails</title>

	<link rel="stylesheet" href="start.css" />
</head>


<body>

<div class="property__wrap">
	<div class="property">

		<div class="property__top">
			<a href="#" class="property__stock-link dashed"><u>Stock for sale</u></a>
			<h4 class="property__item-title">Rhyhtmic Gymnastics Leotard # 31</h4>
			<div class="property__next-arrow">
				<a class="info__another-link link" href="#"><u>Next Leotard</u></a>
			</div>
		</div>

		<div class="property__item-wrap">

			<div class="property__color">
				<div class="property__color-list">
					<ul class="color-list">
						<li class="color-list__item">
							<div class="color-list__circle circle-pg active">
								<i style="color: red" class="fa fa-circle"></i></div>
							<u>Red</u>
						</li>
						<li class="color-list__item">
							<div class="color-list__circle circle-custom"><i class="fa fa-circle"></i></div>
							<a class="color-list__link dashed" href="#"><u>Custom color</u></a>
						</li>
						<li class="color-list__item-bottom">
							You will be guided through choosing color combination.
						</li>
					</ul>
				</div>
			</div>

			<div class="property__item-view">
				<div class="property__img-wrap">
					<img src="img/content/big-item.jpg" alt="Leotard"/>
					<a class="item__rotator item__rotator_w_43 item__rotator_offset" href="#"></a>
					<a href="#" class="property__pailletes">Pailettes<span class="pointer-wrap"><span class="pointer"></span></span></a>
					<a href="#" class="property__mesh"><span>Skin<br>Colored<br>Mesh</span> <span class="pointer-wrap"><span class="pointer"></span></span></a>
					<a href="#" class="property__fabric">Fabric <span class="pointer-wrap"><span class="pointer"></span></span></a>
					<div class="property__crystal-wrap">
						<a href="#" class="property__crystal dashed"><u>Crystals</u></a>
						<span class="pointer"></span>
					</div>
					<div class="property__application-wrap">
						<a href="#" class="property__application dashed"><u>Applications</u></a>
						<span class="pointer"></span>
					</div>
				</div>
			</div>





			<div class="property__summary">

				<div class="summary summary_bs" style="width: 289px">
					<div class="summary__head">
						<span class="summary__head_fw">Summary</span> without tax, fees and options
					</div>

					<div class="summary__inner">
						<div class="price">
							<div class="price__left">
								<div class="price__amount"><i class="fa fa-eur"></i>100.-</div>
								<div class="price__around">AROUND &nbsp;<i class="fa fa-usd">88</i> &nbsp;<i class="fa fa-gbp">72</i></div>
							</div>
							<div class="price__right">
								<i class="like-this__heart"></i>
							</div>
						</div>

						<div class="summary__options-list">
							<ul class="option-list">
								<li class="option-list__item">
									<a href="#" class="option-list__link option-list__link_active <%= 'active' if @line_item.crystal_type== 'Basic' %> dashed"><u>Basic</u></a>
								</li>
								<li class="option-list__item">
									<a href="#" class="option-list__link dashed <%= 'active' if @line_item.crystal_type== 'Swarowski' %>"><u>Swarowski</u></a></li>
								<li class="option-list__item">
									<div class="option-list__count">
										<div class="option-list__arrow">
											<a href="#" class="option-list__arrow-up"></a>
											<a href="#" class="option-list__arrow-down"></a>
										</div>
										<div class="option-list__info"><span class="option-list__info_fw">1000</span> crystals</div>
									</div>
								</li>
							</ul>
						</div>

						<div class="summary__btn-wrap">
							<a href="#" id= "btn_add_to_cart" class="btn btn_green btn_box-shadow left"><span class="btn_in-shadow">Add to cart</span></a>

							<div class="summary__pay-variant">
								<a class="summary__pay-link" href="#"><img src="img/icon/pay-VMP.png" alt="pay"/></a>
							</div>
						</div>

						<p class="summary__info summary__info_ml_17">
							Click add to cart and tou will be guided through taking taking your measurements & other options
						</p>

					</div>
				</div>
				<div class="share">
					<div class="share__soc">
						<a href="#" class="share__text"><i class="share__fb-icon"></i>Share</a><span class="share__count">7</span>
					</div>
					<div class="share__info">5% discount for sharing the leotard</div>
					<p><a href="#" class="share__discount ">More about discount</a></p>
					<p><a href="#" class="share__link ">Delivery & Payment</a></p>
					<p><a href="#" class="share__link">Guarantee</a></p>
					<p><a href="#" class="share__link ">FAQ</a></p>
				</div>

			</div>

		</div>





		<div class="property__item-desc">
			Click add to cart and tou will be guided through taking taking your measurements & other options
		</div>

		<div class="property__include">
			Leotard include:
			<a href="#" class="property__include-link">Stretch lycra</a>,
			<a href="#" class="property__include-link">Pailletes</a>,
			<a href="#" class="property__include-link">Applications</a>,
			<a href="#" class="property__include-link">Fabric</a>,
			<a href="#" class="property__include-link">Crystals</a>,
			<a href="#" class="property__include-link">Skin Colored Mesh</a>,
		</div>

	</div>

	<div class="preview">
		<div class="preview__title">More different:</div>
		<div class="preview__top">
			<div class="preview__img-wrap"><div class="preview__link-wrap"><a class="preview__img-link " href="#"><img src="img/content/example-small/example-1.jpg" alt=""/></a></div></div>
		</div>

		<div class="preview__bottom">
			<div class="preview__scroll-line"></div>
			<div class="preview__scroll"></div>
		</div>
	</div>
	<div class="happy">
		<div class="happy__left">
			<h4 class="happy__title">Happy Customer</h4>
			<p class="happy__user">Rebecca,<a class="happy__user-country" href="#">NEW ZEALAND</a></p>
			<div class="happy__reviews">
				<a href="#" class="happy__reviews-link">ALL REVIEWS</a>
			</div>
		</div>

		<div class="happy__right">
			<p class="happy__info">Arrived today. Yay!!! We just love it fits perfectly.</p>
			<p class="happy__info"> Beautifully made, from picture did think it was going to be abit more black through the center, but still
			                        looks fantastic...Will recommended to others and we...</p>
		</div>
	</div>

</div>
<div style="display: none"><%= render 'line_items/form' %></div>


</body>



